.category {
    .content {
        display: flex;
        height: calc(100vh - 40px);
        padding-top: 40px;
    }
    .left,
    .right {
        height: 100%;
        overflow-y: auto;
    }
    .left {
        flex: 2;
        border-right: 1px solid #f3f3f3;
        .item {
            width: 100%;
            height: 54px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
        }
    }
    .right {
        flex: 8;
    }
    .hot {
        display: flex;
        flex-wrap: wrap;
        .item {
            width: calc(50% - 18px);
            padding-top: 4px;
            margin-left: 12px;
        }
        .img {
            display: block;
            width: 100%;
            height: 90px;
        }
        .text {
            font-size: 12px;
            display: block;
            text-align: center;
            height: 36px;
            line-height: 36px;
            color: #666666;
        }
    }
}
