.noorder_img {
    display: block;
    margin: 0 auto 0;
    width: 94px;
    height: 94px;
    padding-top: 75px;
}
.noorder_text {
    display: block;
    margin-top: 40px;
    color: #969696;
    text-align: center;
}
