.goods-list {
    background: #FFFFFF;
    margin-top: 10px;
    padding: 0 10px;
    font-size: 14px;
    .title {
        width: 100%;
        height: 44px;
        line-height: 44px;
        color: #191919;
        border-bottom: 1px solid #E9E9E9;
        .link {
            float: right;
            font-size: 12px;
            height: 44px;
            line-height: 44px;
            color: #333333;
            image {
                display: inline-block;
                width: 12px;
                height: 12px;
                margin-top: 1.5px;
            }
        }
    }
    .goods {
        padding: 15px 0;
        border-bottom: 1px solid #e9e9e9;
        image {
            float: left;
            width: 92px;
            height: 92px;
        }
        .goods-msg {
            height: 92px;
            margin-left: 100px;
            position: relative;
            .goodsname {
                font-size: 12px;
                line-height: 16px;
                height: 32px;
                overflow: hidden;
            }
            .goodsnum {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                .price {
                    color: #E93232;
                    display: inline;
                    .price-front {
                        font-size: 17px;
                    }
                }
                .price-sell {
                    color: #999;
                    text-decoration: line-through;
                }
                .num {
                    float: right;
                }
            }
        }
    }
}