.no-list {
    padding-top: 125px;
    text-align: center;
    font-size: 14px;
    color: #646464;
    .no-img {
        display: block;
        margin: 0 auto 14px;
        width: 94px;
        height: 94px;
    }
}