.view {
    .action {
        padding: 0 15px;
        line-height: 73px;
        margin-top: 46px;
        border-bottom: solid 1px #eaeaea;
        button {
            background: #eaeaea;
            border: none;
            outline: none;
            padding: 5px 10px;
            color: #565758;
            font-size: 14px;
            border-radius: 4px;
            margin-right: 10px;
            display: inline-block;
            line-height: 1.5;
        }
        .active {
            background: rgba(242, 48, 48, 0.2);
            color: #f23030;
        }
    }
}
