.bottom {
    background: #fff;
    margin-top: 10px;
    padding: 0 10px;
    .timeshow {
        line-height: 34px;
        padding: 8px 0;
        color: #999;
        font-size: 12px;
        display: inline-block;
        .red {
            color: #f23030;
            font-size: 14px;
        }
    }
    .oprate {
        float: right;
        line-height: 28px;
        padding: 8px 0;
        .btn {
            display: inline-block;
            text-align: center;
            width: 81px;
            line-height: 34px;
            font-size: 14px;
            border-radius: 34px;
            border: 1px solid #eee;
            margin-left: 10px;
        }
        .right-btn {
            color: #f23030;
        }
    }
}